@import "normalize";
@import "sprites";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/**
 * Generales
 */
body {
	font-family: 'Open Sans', Helvetica, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	&.modal-open {
		overflow: hidden;
		position: relative;
	}
}
a{
	color: #272727;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
::selection{
	background-color: #cf0;
}
::-moz-selection{
	background-color: #cf0;
}

/**
 * Estructura
 */

.container {
	display: -webkit-flex;
	display: flex;
	max-width:  70rem;
	margin: auto;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	padding: 15px;
}

/**
 * Video
 */
 .video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	flex: 1 100%;
	margin: 0 0 10px;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/**
 * Banners
 */
.banners-wrapper {
	width: 100%;
	margin: 0 0 10px;

	.banner {
		margin: 0 10px 10px 0;
		float: left;
		&--flash { float: right; margin: 0; }

		@media (max-width: 71.6em) {
			margin: 0 0 10px;
			text-align: center;
			float: none;
			&--flash { float: none; }
		}
	}

}

/**
 * Productos
 */

/** Listado **/
.product-list {
	margin: 0;
	padding: 0 15px;
	list-style: none;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between;

	.product__item {
		margin: 0 15px;
		padding: 40px 0;
		width: calc(50% - 15px);

		&:nth-child(2n+1) { margin-left: 0; }
		&:nth-child(2n) { margin-right: 0; }

		@media (min-width: 64em) {
			width: calc(32% - 15px);

			&:nth-child(3n+1) {
				margin-left: 0;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}

	}

	.product__image-wrapper {
		position: relative;
		overflow: hidden;
		min-height: 100px;

		&:hover {
			.product__image {
				z-index:2;

				&-secondary {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 3;
					background: white;
				}
			}
		}
		.product__image {
			&-secondary {
				display: none;
			}
		}
	}

	.product__properties {
		position: absolute;
		left: 0;
		bottom: 5px;
		z-index: 5;
	}

	.product__info {
		border-top: 2px solid black;
		padding: 2px 0 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.product__title {
		text-transform: uppercase;
		font-size: 0.6em;
		font-weight: normal;
	}
	.product__price {
		background: black;
		color: white;
		padding: 5px;
		letter-spacing: .15em;
		font-size: 0.75em;
	}
}

/** Product view **/
.product-view {
	> img {
		margin: 0 auto;
	}
	.product__title {
		font-weight: 700;
		font-size: 1.1em;
		line-height: 1.75em;
		float: left;
		margin: 0;
	}
	.product-view__price {
	    float: right;
	    font-weight: 700;
	    font-size: 1.75em;
	}
	.product__properties {
		clear: both;
		width: 100%;
		border-top: 3px solid black;
		margin: 1px 0 0;
		padding: 10px 0 0;
		text-align: center;
	}
}

.product__title {
	text-transform: uppercase;

}

/**
 * Modal
 */
.modal {
	display: none;

	.close {
		border: 0;
		background: none;
		float: right;
		margin: 5px 5px 0 0;
		cursor: pointer;
	}

	.modal-open & {
		display: block;
		background: rgba(0, 0, 0, .5);
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
	}

	&__dialog{
		background: white;
		width: 80vw;
		height: auto;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, .8);
		margin: 5vh auto;
		padding: 15px;
	}
}

/**
 * Sprites
 */
.icon {
    display: inline-block;
    vertical-align: middle;
}
@include sprites($spritesheet-sprites);
